/*google fonts imported*/
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Sniglet:wght@400;800&display=swap');

/*asterisk wildcard selector  to override default styles added  by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{

}
/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/*Header, Main ad Footer structure for body using grid display*/
body {
    height: 55vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header"
        "main"
        "footer";
}

/*Header*/
header {
    grid-area: header;
    z-index: 99;
    position: fixed;
    height: 8vw;
    width: 100vw;
    box-shadow: 0 2px 2px black;
     
}
/*Sky backdrop inside header*/
#sky {
    background: url("../Images/header-pic-sky.jpg") no-repeat center center/cover;
    height: 8vw;
    width: 100vw;
    display: inline-block;
}
/*Hamburger Menu*/
#hamburger-menu{
    width: 5vw;
    margin-top: 0;
}
#hamburger-menu:hover{
    cursor: pointer;
}
#div-menu-and-Title{
    display: flex;
    height: 5vw;
    margin-top: 1vw;
    margin-left: 3vw;
}
#title-bumblebee-pic{
    width: 4vw; 
    border-radius: 2vw;
    position: absolute;
    z-index: 2;
    left: 13.3vw;
    top: 0.3vw;    
}

/*Main Section*/
main {
    margin-top: 8.3vw;
    grid-area: main;
}
/*styling of main section pic*/
#pic-main-section {
    background: url("../Images/pic-main-section-A.JPG") no-repeat center center/cover;
    height: 46vw;
    width: 100vw;
}
/*styling of dropdown menu text*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
  }
  /*styling of div that contains the dropdown menu*/
  #menu-div{
    
     
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
  }
nav {
    background: url("../Images/header-pic-2.jpg") no-repeat center center/cover;
    position: absolute;
    background-color: transparent;
    width: 55vw;
    height: 6vw;
    left: 19vw;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #a8a7a7;
    border-radius: 0.5vw;
    display: none;
    top: 105%;
  }
  nav:hover{
    cursor: pointer;
  }
  
  /* Nav toggle */
  #nav-toggle:checked~nav {
    display: block;
  }
  
  #nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    font-size: 2rem;
  }

/*Footer Section*/
footer {
    grid-area: footer;
    background-color: lime;
    height: 8vw;
}

/*h1 font style*/
h1,h2{
    font-family: 'Sniglet', sans-serif;
    
}

#h1-header-text {
    font-size: 4.3vw;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
    color: orange;
    margin-left: 5vw;
    margin-top: 0;
     width: 90vw;
}

 