/*google fonts imported*/
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Sniglet:wght@400;800&display=swap');

/*asterisk wildcard selector  to override default styles added  by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /*General Styles*/
body {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header" "main" "footer";
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Modak', sans-serif;
}

/*Header, Main ad Footer structure for body using grid display*/

/*h1 font style*/
h1 {
    padding-top: 5vw;
    font-family: 'Sniglet', sans-serif;
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
    color: orange;
}

/*Header*/
header {
    background: url("../Images/header-pic-sky.jpg") no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    height: 20vw;
}
header a {
    text-decoration: none;
    color: inherit;
}
header img {
    position: absolute;
    left:1vw;
    top: 13vw;
    width: 6vw;
    height: 6vw;
    border-radius: 1vw;
}
header img:hover{
    cursor: pointer;
    box-shadow: 0.02em 0.2em 0.5em #eeecec;
}
#menu {
    background: url("../Images/header-pic-2.jpg");
    border-radius: 1vw;
    display: flex;
    justify-content: space-around;
    font-size: 110%;
    letter-spacing: 0;
    list-style-type: none;
    margin-top: 10vw;
    
}

#menu > li {
    margin-right: 4vw;
    font-size: 5vw;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
    color: rgb(250, 249, 248);
    padding: 1.5vw;
}
/*styling of dropdown menu*/
nav {
    position: absolute;
    left: 16vw;
    top: 15vw;
    display: none;
}
/*Main Section*/
main {
    grid-area: main;
    background-color: bisque;
    height: 160vw;
}
/*Footer Section*/
footer {
    grid-area: footer;
    background-color: lime;
    height: 15.8vw;
}

 




/*Sky backdrop inside header*/
#sky {
    background: url("../Images/header-pic-sky.jpg") no-repeat center center/cover;
    height: 20vw;
    width: 100vw;
    display: inline-block;

}


/*Hamburger Menu*/
#hamburger-menu {
    width: 7vw;
    height: 7vw;
    margin-top: 0.1vw;
    border-radius: 0.4em;
    margin-right: 6vw;
    margin-top: 2vw;
}

#hamburger-menu:hover {
    cursor: pointer;
    box-shadow: 0.02em 0.2em 0.2em #eeecec;
}



#div-menu-and-Title {
    display: flex;
    align-items: center;
    height: 13vw;
    margin-top: 1vw;

    border: 0.5vw solid yellow;

}

#title-bumblebee-pic {
    width: 4vw;
    border-radius: 2vw;
    position: absolute;
    z-index: 2;
    left: 13.3vw;
    top: 0.3vw;
}

/*#honeycomb{
    background: url("../Images/header-pic-2.jpg") no-repeat center center/cover ;
}*/
 

u:hover {
    cursor: pointer;

}

 



/*styling of main section pic*/
#pic-main-section {
    background: url("../Images/pic-main-section-A.JPG") no-repeat center center/cover;
    height: 60vw;
    width: 100vw;
}

/*styling of dropdown menu text*/
/*styling of div that contains the dropdown menu*/
/*#menu-div {


    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
}*/